.hs-hero {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hs-hero__picture {
  position: absolute;
  object-fit: cover;
  height: 100%;
  top: 0;
  width: 100%;
}

.hs-hero__picture img {
  height: 100%;
  width: 100%;
}

.hs-hero .show {
  display: block !important;
}

.hs-hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}

.hs-hero__content__wrapper {
  padding: 0 1em;
  width: 100%;
  z-index: 1;
}

.hs-hero__content--center {
  text-align: center;
}

.hs-hero__content--right {
  text-align: right;
}

.hs-hero .hero-subheading {
  max-width: 800px;
  margin: 0 auto;
  height: 100px !important;
}

.hs-hero__content__wrapper.hs-hero__content-- .hs-hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3.5em 0 5em;
}

@media (max-width: 800px) {
  .hs-hero .hero-subheading {
    height: 135px !important;
  }
}

.hs-hero h1 {
  text-transform: none;
}

.hs-hero h3 {
  color: #ffffff;
}

@media (max-width: 800px) {
  .hs-hero h3 {
    font-size: 21px;
  }
}

.hs-hero__content__wrapper h2 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hs-hero__content__wrapper .text-above {
  font-size: 21px;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
}

.hero-button {
  margin-top: 60px;
}

.hero-phone {
  margin-top: 30px;
}

.hero-phone a {
  color: #ffffff;
  transition: ease all 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero-phone a:hover {
  color: #4b9343;
}

@media only screen and (min-width: 768px) {
  .hs-hero {
    display: flex;
    align-items: center;
  }

  .hs-hero__content__wrapper{
    display: flex;
    height: 100%;
    justify-content: center;
    max-width: 1600px;
    text-align: center;
  }

  .hs-hero__content__image {
    align-self: end;
    margin-right: 50px;
    line-height: 0;
  }

  .hero-cta a.cta_button {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .hs-hero__picture img {
    max-height: 530px;
  }

  .hs-hero {
    max-height: 530px;
    height: 800px;
  }

  .hs-hero__content__wrapper{
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .hs-hero__content__image,
  .bubble {
    display: none;
  }

  .hero-button {
    margin-top: 30px;
  }
}

/* Testing Animations */
@keyframes softmove {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  50% {
    transform: rotate(30deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0.7);
  }
}

.bubble {
  position: absolute;
  bottom: -150px;
  left: -200px;
  animation-name: softmove;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes softmove2 {
  0% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

.bubble.top {
  position: absolute;
  top: -50px;
  left: auto;
  right: -100px;
  animation-name: softmove2;
  animation-duration: 80s;
  animation-iteration-count: infinite;
}
/* Hero Title H1 */
.hs-hero h1 {
  font-size: 62px;
  font-weight: 600;
  line-height: 1.1em;
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .hs-hero h1 {
    font-size: 46px !important;
  }
}

@media only screen and (max-width: 768px) {
  .hs-hero h1 {
    font-size: 40px;
  }

  .hs-hero__content__wrapper .text-above {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
