{###############################################################
     Pittsburgh Internet Consulting - Parallax Hero Banner 
################################################################}

<div id="hs-hero-{{ name }}" class="hs-hero">

  <!--- desktop image -->
  {% if module.background.background_image.src %}
    {% set sizeAttrs = 'width="{{ module.background.background_image.width }}" height="{{ module.background.background_image.height }}"' %}
    {% if module.background.background_image.size_type == 'auto' %}
      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
    {% elif module.background.background_image.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ module.background.background_image.max_width }}" height="{{ module.background.background_image.max_height }}" style="max-width: 100%; height: auto;"' %}
    {% endif %}
     {% set loadingAttr = module.background.background_image.loading != 'disabled' ? 'loading="{{ module.background.background_image.loading }}"' : '' %}
    <img class="desktop" src="{{ module.background.background_image.src }}" alt="{{ module.background.background_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
  {% endif %}

  <!--- mobile image -->
  {% if module.background.background_image_mobile.src %}
	{% set sizeAttrs = 'width="{{ module.background.background_image_mobile.width }}" height="{{ module.background.background_image_mobile.height }}"' %}
	{% if module.background.background_image_mobile.size_type == 'auto' %}
		{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
	{% elif module.background.background_image_mobile.size_type == 'auto_custom_max' %}
		{% set sizeAttrs = 'width="{{ module.background.background_image_mobile.max_width }}" height="{{ module.background.background_image_mobile.max_height }}" style="max-width: 100%; height: auto;"' %}
	{% endif %}
	 {% set loadingAttr = module.background.background_image_mobile.loading != 'disabled' ? 'loading="{{ module.background.background_image_mobile.loading }}"' : '' %}
    <img class="mobile" src="{{ module.background.background_image_mobile.src }}" alt="{{ module.background.background_image_mobile.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
  {% endif %}
  
  <div class="hs-hero__content hs-hero__content--{{ module.settings.button_alignment }}">
    <main style="max-width:{{ module.settings.title_max_width }}px">
      <h1 style="color:{{ module.settings.text_color.color }}">{{ module.heading }}</h1>
      <div class="hero-subheading">
        {% for item in module.subheading %}
          <h3 {% if loop.first %}class="show"{% endif %}>{{ item }}</h3>
        {% endfor %}
      </div>
      <div class="hero-button"><a class="button" href="{{ module.button_url.href }}">{{ module.button_text }}</a></div>
      {% if module.link_url.href %}
      <div class="hero-phone"><a href="{{ module.link_url.href }}">{{ module.link_text }}</a></div> 
      {% endif %}
    </main>

  </div>
</div>
{% require_css %}
<style>
  /* Dynamic Background Styles */
  #hs-hero-{{ name }}.hs-hero:before {
    background-color: {{ module.background.overlay_color }};
    opacity: .{{ module.background.overlay_opacity }};
  }
  
  #hs-hero-{{ name }}.hs-hero {
    color: {{ module.settings.text_color }};
  }
</style>
{% end_require_css %}