<div class="partners-logos">

	<div><h3>Partnerships</h3></div>

	<div class="partner-inner sc">
		{% for item in module.partner %} 

			{% if item.logo.src %}
				{% set href = item.link_field.url.href %}
				{% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
				{% endif %}

				{% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
				{% if item.logo.size_type == 'auto' %}
					{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
				{% elif item.logo.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width:
				100%; height: auto;"' %}
				{% endif %}
				{% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
				
				<div>
					<a href="{{ href }}" aria-label="{{ item.logo.alt }}" {% if item.link_field.open_in_new_tab %}target="_blank" {%
						endif %} {% if item.link_field.rel %}rel="{{ item.link_field.rel }}" {% endif %}>
						<img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
					</a>
				</div>
			{% endif %}

		{% endfor %}
	</div>
</div>