<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>

<head>
  <meta charset="utf-8">
  {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">

      {% unless content.featured_image %}
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ request.full_url }}">
      <meta property="og:title" content="{{ page_meta.html_title || pageTitle }}">
      <meta property="og:description" content="{{ page_meta.meta_description }}">
      <meta property="og:image" content="https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/1ST-featured-default.webp">

      <!-- Twitter -->
      <meta property="twitter:card" content="{{ page_meta.meta_description }}">
      <meta property="twitter:url" content="{{ request.full_url }}">
      <meta property="twitter:title" content="{{ page_meta.html_title || pageTitle }}">
      <meta property="twitter:description" content="{{ page_meta.meta_description }}">
      <meta property="twitter:image" content="https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/1ST-featured-default.webp">
    {% endunless %}

  {{ require_css(get_asset_url("../../css/main.css")) }}
  {# This is intended to be used if a template requires template specific style sheets #}
  {% if template_css %}
  {{ require_css(get_asset_url(template_css)) }}
  {% endif %}
  {{ require_css(get_asset_url("../../css/theme-overrides.css")) }}
  {{ require_css('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css') }}
  {{ require_css('//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css') }}
  {# To see a full list of what is included via standard_header_includes please reference this article:
  https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
  {{ standard_header_includes }}
</head>

<body class="{{ builtin_body_classes }}">
  <div class="body-wrapper">
    {% block header %}
    {% global_partial path="../partials/header.html" %}
    {% endblock header %}

    {# The main-content ID is used for the navigation skipper in the header.html file. More information on the
    navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

    {% block body %}
    {% endblock body %}

    {% block footer %}
    {% global_partial path="../partials/footer.html" %}
    {% endblock footer %}
  </div>
  {{ require_js(get_asset_url('/first-theme-hs/js/jquery.min.js'), { position: 'footer', defer:true }) }}
  {{ require_js(get_asset_url('/first-theme-hs/js/jquery-migrate.min.js'), { position: 'footer', defer:true }) }}
  {{ require_js(get_asset_url('/first-theme-hs/js/slick.min.js'), { position: 'footer', defer:true }) }}
  {{ require_js(get_asset_url('/first-theme-hs/js/sticky-header.js'), { position: 'footer', defer:true }) }}
  {{ require_js(get_asset_url('/first-theme-hs/js/hamburguer.js'), { position: 'footer', defer:true }) }}
  {{ require_js(get_asset_url("../../js/main.js")) }}
  {# To see a full list of what is included via standard_footer_includes please reference this article:
  https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
  {{ standard_footer_includes }}
</body>

</html>