.testimonial-grid {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.testimonial-heading {
  font-size: 50px;
  color: #fff;
  font-weight: 100 !important;
  line-height: 1;
}
@media (max-width: 768px) {
  .testimonial-grid {
    display: block;
    align-items: center;
  }
  .testimonial-heading {
    margin-bottom: 30px;
  }
}
.testimonial-slider .slick-dots li.slick-active button:before {
  color: #111;
}

.testimonial-slider .slick-dots li button:before {
  color: #fff;
}

.testimonial-slider [data-hs-cos-field="testimonial"] {
  color: #fff;
  font-weight: 100 !important;
  padding-bottom: 10px;
  font-size: 20px;
}
.testimonial-slider [data-hs-cos-field="author"],
.testimonial-slider [data-hs-cos-field="from"] {
  color: #f2f2f2;
  font-weight: 400 !important;
  text-transform: uppercase;
  font-size: 12px;
}
