<div class="row">
	<div class="column column-1-3 row jc">
		<h2 class="testimonial-heading">{{ module.heading }}</h2>

		<div class="vertical-line"></div>

		<div class="fake-element"></div>
	</div>
	<div class="column column-2-3">
		<div id="testimonials" class="carousel slide testimonials" data-ride="carousel">
		    <!-- Wrapper for slides -->
		    <div class="carousel-inner">
		    	{% for item in module.testimonials %}
		    		<div class="item{% if loop.first %} active{% endif %}">
		                <div class="carousel-caption">
		                	<div class="content-wrapper">
		                		<div class="caption-container">
		                			<div>{{ item.testimonial }}</div>
				                    <p class="t-author">{{ item.author }}</p>
				                    <p class="t-from">{{ item.from }}</p>
								</div>
							</div>
		                </div>
		            </div>
				{% endfor %}
		    </div>

		    <!-- End Carousel Inner -->
		    <div class="content-wrapper slider-pills">
		        <ul class="nav nav-pills nav-justified carousel-indicators">
		        	{% for item in module.testimonials %}
						 <li data-target="#testimonials" data-slide-to="{{loop.index0}}" {% if loop.first %}class="active"{% endif %}></li>
					{% endfor %}
		        </ul>
		    </div>
		</div>
	</div>
</div>