.sidebar-sticky ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-sticky a {
    color: var(--color-font) !important;
    font-family: var(--font-secondary);
    text-transform: uppercase;
}

.sidebar-sticky a.active, 
.sidebar-sticky a:hover {
    color: var(--color-primary) !important;
}

@media (min-width: 768px) {
    .sidebar-sticky__column {
        position: sticky;
        top: 150px;
    }
}

.sidebar-sticky__section a[data-hs-anchor="true"] {
    display: block;
    padding-top: 140px;
    margin-top: -140px;
}

@media (max-width: 768px) {
    .sidebar-sticky__section a[data-hs-anchor="true"] {
        padding-top: 6em;
        margin-top: -6em;
    }
}