.slick-logo .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #4b9343 !important;
}

.slick-logo .slick-dots li button:before {
  opacity: 100 !important;
  color: #777 !important;
  font-size: 8px !important;
}
.slick-slide img {
  margin: auto;
  height: auto !important;

}
@media(max-width:767px){
  .slick-slide img {
   max-width: 150px !important;
   height: auto !important;
  }
}

.slick-logo img {
  filter: grayscale(1);
}
.slick-logo img:hover {
  filter: grayscale(0);
}
