.text-form-title h1 {
  color: black;
}

.text-form-phones p,
.text-form-phones a,
.text-form-phones span {
  color: #4b9343;
  font-family: "Roboto Slab";
  font-size: 32px;
  transition: ease all 0.3s;
}

.text-form-phones a:hover {
  color: #3d7237;
}

.text-form-social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.text-form-social__icon {
  border-radius: 50%;
  display: inline-flex;
  height: 1.75rem;
  margin: 0 0.35rem;
  position: relative;
  width: 1.75rem;
}

.text-form-social__icon svg {
  fill: #ffffff;
  height: 1rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.text-form-social__icon:hover svg,
.text-form-social__icon:focus svg,
.text-form-social__icon:active svg {
  fill: #ffffff;
}

.text-form-social__icon {
  background-color: #4b9343;
  transition: ease all 0.3s;
}

.text-form-social__icon:hover,
.text-form-social__icon:focus,
.text-form-social__icon:active {
  background-color: #3d7237;
}

/* Form Styles */
.text-form__form {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: auto;
  max-width: 500px;
  min-height: 100%;
}

.text-form__form .form-title {
  margin-bottom: 0px;
}

.text-form__form > h2 {
  color: #ffffff;
}

.contact-form form label {
  color: #ffffff;
  font-size: 17px;
}

.contact-form form input[type="text"],
.contact-form form input[type="tel"],
.contact-form form input[type="email"] {
  border-radius: 5px;
  height: 38px;
}

.contact-form form textarea {
  width: 100% !important;
  height: 130px;
  border-radius: 5px;
}

.contact-form select {
  width: 100% !important;
  padding: 0.5rem 0.7rem !important;
  border-radius: 5px;
}

.contact-form form > fieldset:last-of-type .hs_accept_storage_data label,
.contact-form .hs-error-msg {
  font-size: 12px;
  line-height: 1;
}

.contact-form form > fieldset:last-of-type .inputs-list > li {
  margin-top: 0px;
}

.contact-form form input[type="file"] {
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.contact-form form .hs-form-required {
  color: #ffffff;
}

.contact-form form .hs_fileupload {
  display: flex;
  flex-flow: column;
}

.contact-form form .hs_fileupload label {
  order: 1;
}

.contact-form form .hs_fileupload .input {
  order: 2;
}

.contact-form form .hs_fileupload legend {
  order: 3;
  color: #ffffff;
  font-size: 12px;
  margin-top: 8px;
}

@media screen and (min-width: 992px) {
  .text-form-container {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 1) 50%,
      rgba(255, 255, 255, 1) 50%
    );
  }
}

/* CONTACT FORM */
.hs-error-msg {
  color: #f0fc2f !important;
}


@media (min-width: 768px) {
  .contact-form {
    height: calc(100vh - 118px);
    overflow: scroll;
    position: sticky;
    top: 118px;
  }  

  .contact-form::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 767px) {
  .contact-form {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem !important;
    margin-right: -1rem;
  }

}