.hs-breadcrumb-menu {
    padding-top: 30px;
	padding-bottom: 0px;
	display: flex;
	flex-wrap: wrap;
}

.hs-breadcrumb-menu-item {
	display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-top: 0;
	line-height: 1 !important;
	padding-left: 0px;
	float: none;
}

.hs-breadcrumb-menu li a{
	font-weight: 700;
}

.hs-breadcrumb-menu li span{
	font-weight: 100;
}

.hs-breadcrumb-menu li span, .hs-breadcrumb-menu li a{
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
}

.hs-breadcrumb-menu li span{
	color: #ffffff;
}

.hs-breadcrumb-menu li a{
	color: #4B9343;
}

/* Single Blog Post */

.hs-blog-post.hs-blog-id-7333466430 .hs-breadcrumb-menu li a, 
.hs-blog-post.hs-blog-id-7333466430 .hs-breadcrumb-menu li span{
	color: #747474;
}

.hs-blog-post.hs-blog-id-7333466430 .hs-breadcrumb-menu {
    max-width: 960px;
    margin: auto;
}

/* End Single Blog Post */

.hs-blog-post.hs-blog-id-7333466430 .hs-breadcrumb-menu li a:hover,
.hs-breadcrumb-menu li a:hover {
	color: #4B9343;
}