.footer-logos {
  background-color: rgba(242, 242, 242, 1);
  padding-top: 40px;
  padding-bottom: 40px;
}
footer {
  background-color: #000000;
}
footer .footer-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 58px;
  padding-bottom: 30px;
}
footer .footer-col img {
  max-width: 220px;
}
footer .footer-row > div {
  width: 25%;
  padding-left: 17px;
  padding-right: 17px;
}
footer .footer-row > div:not(:last-child) {
  border-right: 1px solid #77bf45;
}
footer .footer-row > div:not(:first-child) {
  padding-left: 25px;
}

footer .contact-info a {
  transition: ease all 0.3s;
}
footer .contact-info a:hover {
  color: #77bf45;
}
footer .contact-info > div {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  line-height: 1;
}

footer .contact-info > div > div:first-child {
  padding-right: 10px;
  padding-top: 5px;
}
footer .footer-menu ul li {
  padding: 0px !important;
  display: block !important;
}
footer .footer-menu ul li a,
footer .footer-menu ul li span {
  transition: ease all 0.3s;
}
footer #hs_cos_wrapper_address,
footer #hs_cos_wrapper_phone {
  line-height: 1.1;
}
footer .menu__item--depth-1 > span,
footer .menu__item--depth-1 > a {
  padding-left: 0px;
  padding-right: 0px;
}
footer .menu__item--depth-1 > .menu__link--active-link:after {
  content: unset !important;
}
footer .menu__submenu {
  width: auto !important;
}
footer .menu__submenu--level-2 > .menu__item:first-child:before {
  content: unset !important;
}
footer .menu .menu__submenu {
  background-color: unset !important;
  border: unset !important;
  position: unset !important;
}
footer .menu__item--has-submenu .menu__submenu {
  margin-top: 30px;
}
footer .menu__submenu .menu__item {
  border-bottom: unset !important;
}
footer .menu__submenu .menu__link,
footer .menu__submenu .menu__link:hover,
footer .menu__submenu .menu__link:focus {
  background-color: unset !important;
  padding: 0px !important;
}
footer .menu__submenu .menu__link {
  transition: ease all 0.3s;
}
/* Footer */
footer .menu__wrapper > li {
  margin-bottom: 10px !important;
}
.footer-col h4 {
  margin-top: 40px;
}
.footer-col h4 a {
  font-family: "Roboto";
  transition: ease all 0.3s;
}
.footer-col h4 a,
footer .menu__item--depth-1 > a,
footer .menu__item--depth-1 > span,
.footer-col-mobile h4,
.footer-col-mobile h4 a {
  font-weight: bold;
  color: #77bf45;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
}
footer button.menu__child-toggle {
  display: none !important;
}
footer .menu__item--depth-2 span,
footer .menu__item--depth-2 a {
  text-transform: capitalize;
  font-size: 16px;
  color: #ffffff !important;
}
footer .menu__item--depth-1 > span:hover,
footer .menu__item--depth-1 > a:hover,
.footer-col h4 a:hover,
.copyright a:hover {
  color: #ffffff !important;
}
footer .menu__item--depth-2 span:hover,
footer .menu__item--depth-2 :hover {
  color: #77bf45 !important;
}
footer .words span {
  font-size: 28px;
  color: #ffffff;
  font-weight: 300;
}
footer .copyright {
  margin-top: 40px;
  font-size: 12px;
  color: #ffffff;
}
footer .copyright a {
  color: #77bf45;
  transition: ease all 0.3s;
}
footer .contact-info {
  color: #ffffff;
  font-size: 16px;
}
footer .social-buttons {
  margin-top: 40px;
}
.footer-col-mobile {
  display: none;
}
@media screen and (min-width: 992px) {
  footer .menu__submenu {
    display: block !important;
  }
  .footer-logo-mobile {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .footer-logo-desktop {
    display: none;
  }

  .footer-logo-mobile img {
    width: 51px;
  }

  footer .menu__submenu {
    display: none !important;
  }

  footer .footer-col .dropdown_list {
    display: block;
    height: auto;
  }

  footer .footer-menu ul li:not(:first-child) {
    border-bottom: none !important;
  }

  footer .footer-row {
    flex-flow: column;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
  }

  footer .menu__item--depth-1 {
    border-top: none !important;
  }

  footer .footer-row > div {
    width: 100% !important;
  }

  footer .menu__item--depth-1 > .menu__link {
    padding: 0px !important;
  }

  footer .menu__submenu--level-2 {
    padding-top: 10px;
  }

  footer .footer-row > div {
    border-right: none !important;
  }

  footer #hs_cos_wrapper_site_logo {
    margin-top: 10px;
  }

  footer .footer-row > div #hs_cos_wrapper_menu-footer-6 {
    margin-top: 0px;
  }

  footer .footer-row > div #hs_cos_wrapper_social-icons .social-links__link {
    margin-top: 20px;
  }

  footer .footer-row > div .submenu.level-1 > li:last-child {
    border-bottom: none !important;
  }

  footer .footer-row > div:last-child {
    order: 2;
    display: flex;
    flex-flow: column;
  }

  footer .footer-row > div:last-child .footer-menu {
    order: 1;
  }

  .footer-col-mobile {
    display: block;
  }

  .footer-col-desktop {
    display: none;
  }

  .footer-col h4 {
    margin-top: 0px;
  }

  .words {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer .social-buttons {
    margin-top: 0px;
  }

  footer .footer-row > div:not(:first-child) {
    padding-left: 17px !important;
  }

  footer .footer-row > div:last-child .contact-info {
    order: 2;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
  }

  footer .footer-row > div:last-child .contact-info > div {
    width: 136px;
  }

  footer .footer-logo {
    display: none;
  }

  footer .footer-bottom {
    border-top: none;
  }

  footer .menu__item--depth-1 a.menu__link {
    text-align: left;
    padding: 0;
  }

  footer .menu__child-toggle {
    display: none;
  }

  footer .menu__item--has-submenu .menu__submenu {
    margin-top: 0;
  }

  footer .contact-info a,
  footer .contact-info div {
    text-align: left;
  }

  footer .footer-bottom .content-wrapper {
    justify-content: center !important;
  }

  footer .footer-bottom .content-wrapper {
    text-align: center;
  }

  footer .footer-bottom .content-wrapper span {
    display: none;
  }

  footer .contact-info > div:last-child {
    margin-bottom: 20px;
  }
}
