<!--
  templateType: blog
  isAvailableForNewContent: true
  label: Pic Blog - blog listing
-->
{% extends './layouts/base.html' %}
{% set template_css = '../../css/templates/blog-listing.css' %}

{% block body %}
<main class="body-container-wrapper blog">
  <div class="body-container body-container--blog-index">

    {# Top section #}

    <div class="blog-top-bg blog-case-studies--top"> 
      <div class="content-wrapper">
        <div class="row-fluid d-md-flex">
          <div class="span12">
            {% module "breadcrumbs" 
              path="/first-theme-hs/modules/breadcrumbs",
              offset=0,
              width=12,
              renamed_from_id=79382493240
            %}
            <h1 class="blog-title">Blog</h1> 
          </div>
        </div>
      </div>
    </div>
    {# end top section #}

    <div class="content-wrapper">

      {# Blog listing section #}
      <section class="blog-index">
        <div class="blog-index__tag-header {% if blog_author %} blog-index__author {% endif %}">
          {% if tag %}
          <div>
            <div class="blog-index__tag-subtitle">Posts about</div>
            <h1 class="">{{ page_meta.html_title|split(' | ')|last }}</h1>
          </div>
          {% elif blog_author %}
          {% else %}
          <h2>First Choice Safety Solutions Blog</h2>
          {% endif %}


          <div class="blog-category-search">
            <div>
              {% module "post_filter" path="@hubspot/post_filter",
              max_links=300,
              list_title="All Categories" %}
            </div>
            <div class="search">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
              {% module "search_input" path="@hubspot/search_input" %}
            </div>

          </div>
        </div>


        {# Blog listing #}
        {% for content in contents %}

        <article class="blog-index__post blog-index__post--small">
          <div>
            <a class="blog-index__post-image blog-index__post-image--small" href="{{ content.absolute_url }}">
              <img class="blog-index__post-image blog-index__post-image--{{ list_type }}"
                src="{{ content.featured_image }}" loading="lazy" alt="{{ content.featured_image_alt_text }}"
                width="{{ list_type == 'small' ? '365' : '596' }}">
            </a>
            <div class="blog-index__post-content  blog-index__post-content--small">
              {% if content.tag_list %}
              <div class="blog-post__tags">
                {% for tag in content.tag_list %}
                {% if tag.slug in hidden_tags %}
                {% else %}
                {% if not loop.first %},{% endif %} <a class="blog-post__tag-link"
                  href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
                {% endif %}
                {% endfor %}
              </div>
              {% endif %}
              <h2><a href="{{ content.absolute_url }}">{{ content.name }}</a></h2>
              <div>{{ content.post_list_content|safe|striptags|truncatehtml(200, '...' , false) }}</div>
            </div>
          </div>
        </article>

        {% endfor %}
        {# End blog listing #}

      </section>
      {# End blog listing section #}

      {# Blog pagination #}
      {% if contents.total_page_count > 1 %}
      <div class="blog-pagination">
        {% set page_list = [-2, -1, 0, 1, 2] %}
        {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
        {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
        {% elif current_page_num == 2 %}{% set offset = 1 %}
        {% elif current_page_num == 1 %}{% set offset = 2 %}
        {% else %}{% set offset = 0 %}{% endif %}

        <a class="blog-pagination__link blog-pagination__prev-link {{ 'blog-pagination__prev-link--disabled' if !last_page_num }}"
          href="{{ blog_page_link(last_page_num) }}">
          {% icon
          name='chevron-left',
          no_wrapper=True,
          purpose='decorative',
          style='SOLID',
          width='13'
          %}
          Prev
        </a>
        {% for page in page_list %}
        {% set this_page = current_page_num + page + offset %}
        {% if this_page > 0 and this_page <= contents.total_page_count %} <a
          class="blog-pagination__link blog-pagination__number-link {{ 'blog-pagination__link--active' if this_page == current_page_num }}"
          href="{{ blog_page_link(this_page) }}">{{ this_page }}</a>
          {% endif %}
          {% endfor %}
          <a class="blog-pagination__link blog-pagination__next-link {{ 'blog-pagination__next-link--disabled' if !next_page_num }}"
            href="{{ blog_page_link(current_page_num + 1) }}">
            Next
            {% icon
            name='chevron-right',
            no_wrapper=True,
            purpose='decorative',
            style='SOLID',
            width='13'
            %}
          </a>
      </div>
      {% endif %}
      {# End blog pagination #}

    </div>

  </div>
</main>
{% endblock body %}