<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog Post
  screenshotPath: ../images/template-previews/blog-post.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
<div class="body-container body-container--blog-post">

  {# Blog post #}

  <div class="content-wrapper row-fluid">
    <div class="span8">
        <article class="blog-post">
        <h1>{{ content.name }}</h1>
        <div class="blog-post__meta-wrapper minutes-read">
            {% if content.tag_list %}
            <div class="blog-post__tags">
                {% for tag in content.tag_list %}
                <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name }}</a>
                {% endfor %} 
            </div>
            <div class="minutes-read__style">
                {% set initialPostWords = content.post_body|wordcount %}
                {% set calculatedPostWords = (initialPostWords/100) * 100 %}
                {% set finishedPostWords = calculatedPostWords|divide(300)|round(2) %}
                {% set number = finishedPostWords|round %}
                {% if number < 1 %} {% else %} {{ finishedPostWords|round }} minute read {% endif %} 
            </div>
            {% endif %}
            
        </div>
        <div class="blog-post__meta">
                Author: {{ content.blog_post_author.display_name }}
              <!--  <a href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}" rel="author"></a> -->
               <!--  <time datetime="{{ content.publish_date }}" class="blog-post__timestamp">
                {{ content.publish_date_localized }}
                </time> -->
                 
            </div>
        {% if content.post_list_summary_featured_image %}
        <div class="hs-featured-image-wrapper">
             <img src="{{ content.post_list_summary_featured_image }}" class="{# hs-featured-image #}">
        </div>
    {% endif %}
        <div class="blog-post__body">
            {{ content.post_body }}
        </div>
     
        </article>
        {% if group.allow_comments %}
        <div class="blog-comments">
            {% module "blog_comments"
            path="@hubspot/blog_comments",
            label="Blog comments"
            %}
        </div>
        {% endif %}
    </div>
    <div class="span4">
        <div class="blog__sidebar">
            <div class="blog__search_topics__wrapper">
                <div class="blog__topics">
                    <h2>Posts by Topic</h2>
                    {% module "post_filter" path="@hubspot/post_filter" list_title="" max_links="10" %}
                </div>
            </div>
            <div class="blog__sidebar__cta">
                {% module "call_to_action" path='/first-theme-hs/modules/blog/sidebar-call-to-action', label="Call To Action" %}
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock body %}