<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog Posts
-->
<!-- {% set template_css = '../../css/templates/blog.css' %} -->
{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
    <div class="body-container body-container--blog-post">

        {# Blog post #}
        <div class="content-wrapper">
            <article class="blog-post">

                <h1 class="blogtitle">
                    {{ content.name }}
                </h1>
                <p class="custom-date-comment-wrapper">
                    {% for topic in content.topic_list %}
                    {% if topic.slug in hidden_tags %}
                    {% else %}
                    {% if not loop.first %},{% endif %} <a class="topic-link"
                        href="{{ group.absolute_url }}/topic/{{ topic.slug }}">{{ topic.name }}</a>
                    {% endif %}
                    {% endfor %}

                    {% set initialPostWords = content.post_body|wordcount %}
                    {% set calculatedPostWords = (initialPostWords/100) * 100 %}
                    {% set finishedPostWords = calculatedPostWords|divide(300)|round(2) %}
                    {% set number = finishedPostWords|round %}
                    {% if number < 1 %} {% else %} | <span class="reading-minutes">
                        {{ finishedPostWords|round }} minute read
                        </span>
                        {% endif %}
                </p>

                {% if content.post_list_summary_featured_image %}
                <div class="hs-featured-image-wrapper">
                    <img src="{{ content.post_list_summary_featured_image }}" class="{# hs-featured-image #}">
                </div>
                {% endif %}
                <div class="section post-body">
                    {{ content.post_body }}
                </div>

                <div class="author-desc">
                    <div class="post-author-avatar">
                        {% if content.blog_post_author.avatar %}
                        <div class="hs-author-avatar"> <img height="200px" width="200px" loading="lazy"
                                src="{{ content.blog_post_author.avatar }}"
                                alt="{{ content.blog_post_author.display_name }}"> </div>
                        {% else %}
                        <div class="hs-author-avatar"> <img height="200px" width="200px" loading="lazy"
                                src="http://cdn2.hubspot.net/hub/483844/file-2523036294-jpg/images/gravatar.jpg"
                                alt="{{ content.blog_post_author.display_name }}"> </div>
                        {% endif %}
                    </div>
                    <div class="author-bio">
                        <h4>
                            <a class="author-link"
                                href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">{{
                                content.blog_post_author.display_name }}</a>
                        </h4>
                        <p>{{ content.blog_post_author.bio }}</p>
                        <div class="author-social-profiles">
                            {% if content.blog_post_author.has_social_profiles %}
                            <div class="hs-author-social-section">
                                <!-- <span class="hs-author-social-label">Find me on:</span> -->
                                <div class="hs-author-social-links">
                                    {% if content.blog_post_author.facebook %}
                                    <a href="{{ content.blog_post_author.facebook }}" target="_blank"
                                        class="hs-author-social-link accentColor1">
                                        {% icon
                                        extra_classes='social-links__icon',
                                        name='facebook-f',
                                        purpose='semantic',
                                        style='SOLID',
                                        title='Facebook'
                                        %}
                                    </a>
                                    {% endif %}
                                    {% if content.blog_post_author.linkedin %}
                                    <a href="{{ content.blog_post_author.linkedin }}" target="_blank"
                                        class="hs-author-social-link accentColor1">
                                        {% icon
                                        extra_classes='social-links__icon',
                                        name='linkedin-in',
                                        purpose='semantic',
                                        style='SOLID',
                                        title='Facebook'
                                        %}
                                    </a>
                                    {% endif %}
                                    {% if content.blog_post_author.twitter %}
                                    <a href="{{ content.blog_post_author.twitter }}" target="_blank"
                                        class="hs-author-social-link accentColor1">
                                        {% icon
                                        extra_classes='social-links__icon',
                                        name='twitter',
                                        purpose='semantic',
                                        style='SOLID',
                                        title='Facebook'
                                        %}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </article>
            {# End blog post #}
        </div>
    </div>
</main>
{% endblock body %}