<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
  screenshotPath: ../images/template-previews/contact-us.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--contact"
%}

{% dnd_section
  padding={
    "default" : {
      "bottom" : "0px",
      "left" : "0px",
      "right" : "0px",
      "top" : "0px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12,
    padding={
      "default" : {
        "left" : "0px",
        "right" : "0px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/first-theme-hs/modules/text-form",
        offset=0,
        width=12,
        breadcrumbs={
          "renamed_from_id" : 79382493240
        },
        form={
          "form_id" : "41ecaa4f-cad7-4483-a015-32aa3624f4ff",
          "form_type" : "HUBSPOT",
          "message" : "Gracias por enviar el formulario.",
          "response_type" : "inline"
        },
        form_title="Get in touch",
        social_links=[ {
          "accessibility" : {
            "title" : "Follow us on Facebook"
          },
          "social_account" : "facebook-f",
          "social_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.facebook.com",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "accessibility" : {
            "title" : "Follow us on LinkedIn"
          },
          "social_account" : "linkedin-in",
          "social_link" : {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.linkedin.com",
              "type" : "EXTERNAL"
            }
          }
        } ],
        title="Contact Us"
      %}
        {% module_attribute "content" %}
          <p>We look forward to working with you and discussing how we can best help you meet your goals for your health and safety programs. Please feel free to contact us at any time.</p>
        {% end_module_attribute %}
        {% module_attribute "phones" %}
          <p>Tel: <a href="tel:+18443433277">1-844-343-3277</a><br>Fax: <a href="tel:+18443337723">1-844-333-7723</a></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}