body {
  line-height: 1.4;
  overflow-wrap: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Paragraphs */

p {
  font-size: 1rem;
  margin: 0 0 1.4rem;
}

/* Anchors */

a {
  cursor: pointer;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.4rem;
}

/* Lists */

ul,
ol {
  margin: 0 0 1.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid;
  margin: 0 0 1.4rem;
  padding-left: 0.7rem;
}

/* Horizontal rules */

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

/* Image alt text */

img {
  font-size: 0.583rem;
  word-break: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: url('https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/fonts/roboto-black-webfont.woff2') format('woff2'),
       url('https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/fonts/roboto-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/fonts/roboto-medium-webfont-1.woff2') format('woff2'),
       url('https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/fonts/roboto-light-webfont.woff2') format('woff2'),
       url('https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/fonts/roboto-thin-webfont.woff2') format('woff2'),
       url('https://21636115.fs1.hubspotusercontent-na1.net/hubfs/21636115/fonts/roboto-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h3{
  font-family:'Roboto Light';
  font-weight: 400;
}